.feature-box {
	background-color: rgba($color-white, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	@include boxStyle;
	transition: transform 0.3s;

	@include response(lg) {
		padding-top: 1.5rem;
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}

	&__icon {
		font-size: 6rem;
		margin-bottom: 0.5rem;

		@include response(lg) {
			margin-bottom: 0;
		}
	}
}
